@font-face {
  font-family: "Cerebri Sans";
  src: local("Cerebri Sans Regular"), local("CerebriSans-Regular"),
    url("./assets/fonts/CerebriSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/CerebriSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: local("Cerebri Sans Bold"), local("CerebriSans-Bold"),
    url("./assets/fonts/CerebriSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/CerebriSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --background-primary: #f8fbfd;
  --background-primary: white;
  --blue: #2c7be5;
  --indigo: #727cf5;
  --purple: #6b5eae;
  --pink: #ff679b;
  --red: #e63757;
  --orange: #fd7e14;
  --yellow: #f6c343;
  --green: #00d97e;
  --teal: #02a8b5;
  --cyan: #39afd1;
  --white: #ffffff;
  --gray: #95aac9;
  --gray-dark: #3b506c;
  --primary: #2c7be5;
  --secondary: #6e84a3;
  --success: #00d97e;
  --info: #39afd1;
  --warning: #f6c343;
  --danger: #e63757;
  --light: #edf2f9;
  --dark: #12263f;
  --white: #ffffff;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Cerebri Sans";
  line-height: 1.15;
  background-color: var(--background-primary);
  color: var(--dark);
  font-weight: 400;
  font-size: 15px;
}
ul > li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: var(--gray-dark);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "header header"
    "sidebar content-area"
    "footer footer";
}
.header {
  grid-area: header;
  background-color: white;
  border-bottom: 1px solid #e3ebf6;
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-areas: "logo menu";
  place-items: center;
}
.header .logo {
  grid-area: logo;
  color: black;
}
.header .menu {
  grid-area: menu;
  justify-self: end;
  margin-right: 50px;
}
.menu > ul {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 20px;
}
.sidebar {
  grid-area: sidebar;
  background-color: white;
  border-right: 1px solid #e3ebf6;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-left: 10px;
}

.sidebar i {
  margin: 10px;
}
.sidebar .sidebar-label {
  font-size: 11px;
  margin-left: 10px;
  padding: 20px 0px;
  border-top: 1px solid #e3ebf6;
}
.sidebar-top {
  margin-top: 20px;
}
.heading {
  color: var(--gray-dark);
  padding: 5px 7px;
}
.content-area {
  grid-area: content-area;
  background-color: var(--background-primary);
  padding: 20px 50px;
}

.cards {
  margin: 10px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 0px 20px;
}

.card {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  margin: 10px 0px;
  min-height: 126px;
  width: 100%;
  padding: 10px 15px;
  display: grid;
  align-items: center;
  position: relative;
}

.card-title {
  color: var(--gray-dark);
  font-size: 14px;
  align-self: self-end;
}
.card-icon {
  position: absolute;
  top: 30px;
  right: 15px;
  color: var(--dark-gray);
}
.card-value-number {
  font-size: 24px;
  font-weight: 900;
  color: var(--gray-dark);
}
.card-value-sub {
  font-size: 12px;
  color: var(--gray);
}

.footer {
  grid-area: footer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.table-content {
  width: 100%;
}
/* .table-wrapper {
  position: relative;
  width: 900px;
  height: 600px;
  overflow: auto;
  background-color: #fff5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0.4rem 0.8rem #0005;
  backdrop-filter: blur(7px);
} */

/* .theading {
  color: black;
  font-size: 24px;

  width: 100%;
  position: absolute;
  top: 0px;
  padding: 10px 10px;
} */

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 100px;
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
}

td,
th {
  border: 1px solid #e3e3e3;
  padding: 10px 20px;
  text-align: left;
}

th {
  background-color: #f8fbfd;
}

td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.progress-bar {
  display: inline-block;
  width: 100px;
  height: 10px;
  border: 1px solid black;
  margin-right: 5px;
  border-radius: 5px;
  overflow: hidden;
}
.progress-bar-fill {
  width: 40%;
  height: 100%;
  border: 1px solid #68dcfc;
  background-color: #68dcfc;
}

/* tr:nth-child(even) td {
  background-color: #eaeaeadc;
}

tr:nth-child(odd) td {
  background-color: #d7d7d7e5;
} */

tr {
  background-color: white;
  cursor: pointer;
}

tr:hover {
  background-color: white;
}

caption {
  padding: 10px;
}
tbody {
  font-size: 95%;
  font-style: normal;
}

tfoot {
  font-weight: bold;
}

.table-cell {
  width: 100px;
  height: 20px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

.yes {
  border-color: #e3fcec;
  background-color: #e3fcec;
  color: #1c8536;
  padding: 2px 5px;
}

.no {
  border-color: #fae6e5;
  background-color: #fae6e5;
  color: #da284c;
}

ion-icon {
  font-size: 16px;
  margin-left: 5px;
  vertical-align: middle;
}

ion-icon .up {
  color: red;
}

trending-up-outline {
  color: red;
}

.details {
  font-weight: bold;
}

td span {
  visibility: hidden;
}

td:hover span {
  visibility: visible;
}
